/****** GENERELLE INSTILLINGER *********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    grid-area: hd;
}

footer {
    grid-area: ft;
}

content {
    grid-area: main;
}


/*********HEADER**********/

#mobile-button {
    width: 1.5em;
    height: 1em;
    font-size: 1.4em;
    align-items: center;
    position: fixed;
    right: 1vw;
    top: 1vw;
    color: white;
    z-index: 10001;
    cursor: pointer;
}

#mobile-nav {
    width: 100%;
    height: 300px;
    list-style-type: none;
    position: fixed;
    top: 5.3vw;
    right: 1vw;
    padding-top: 5vw;
    z-index: 2000;

}

#mobile-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1vw;

}


/*********HEADER DESKTOP AND TABLET************/

.hidden {
    transform: scale(0);
}

#navbar {
    overflow: hidden;
    padding: 10px 5px;
    /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s;
    /* Adds a transition effect when the padding is decreased */
    position: fixed;
    /* Sticky/fixed navbar */
    width: 100%;
    top: 0;
    /* At the top */
    z-index: 99;
}

/* Style the navbar links */
#navbar a {
    float: left;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    align-self: end;

}

/* Style the logo */
#logo img {
    transition: 0.4s;
    width: 75%;
}

/* Links on mouse-over */
#navbar a:hover {
    color: white;
    border-bottom-style: solid;
}

/* Style the active/current link */
#navbar a.active {
    border-bottom-style: solid;
    color: darkorange;
}

/* Display some links to the right */
#navbar-right {
    display: none;
    float: right;
    margin-top: 35px;
}

#navbar-right a {
    margin-right: 25px;
}

/******* SPLASH VIDEO *********/

.splash-video {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-video video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 80%;
    pointer-events: none;
}


.splash-video .splash-content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

/************* MAIN ***************/

#forside-container img {
    width: 100%;
    max-width: 800px;
}

#forside-container {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 140px;
    display: grid;
    grid-template-columns: 1fr;
}



#openinghours-text,
.produkter-text {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}

.openinghours-image img {
    float: right;
}

.products-image img {
    float: left;
}


/********** FOOTER ***********/
footer {
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.69);
    margin-top: auto;
    width: 100%;
    margin-top: -100px;
    clear: both;
    align-items: center;
    position: relative;
    bottom: 0;
    clear: both;

}



span {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-self: center;
    padding: 2vw;
}

.footer-column {
    justify-self: center;
}

span img {
    width: 10vw;
    align-self: center;
    margin: 2vw;
}

.footer-column a {
    text-decoration: none;
    color: white;
}

.footer-column p {
    color: white;
}

.footer-some {
    display: grid;

}

.footer-some img {
    width: 8vw;
    height: 8vw;
}

.footer-column-logo img {
    margin-top: 1.5vw;
    width: 50%;

}

.footer-column-logo {
    text-align: center;
}

.footer-last {
    display: inline;
}

.footer-text {
    font-size: 2.2vw;
    color: white;
    text-align: center;
}


/*********** MEDIA TABLET ************/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #mobile-nav {
        display: none;
    }

    #navbar-right {
        display: block;
    }

    #mobile-button {
        display: none;
    }

    #forside-container {
        grid-template-columns: 1fr 1fr;
    }

    .openinghours-text {
        grid-column-start: 1;
    }

    .openinghours-image {
        grid-column-start: 2;
    }

    .produkter-text {
        grid-column-start: 2;
    }

    footer {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    .footer-some {
        display: grid;
        grid-template-rows: auto auto;
        align-self: flex-end;

    }


    .footer-last {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;

    }

    .address,
    .contact {
        padding: 0;
    }

    .footer-column-logo img {
        width: 75%;
    }

    span img {
        width: 7vw;
        align-self: center;
        margin: 2vw;
    }

}


/************ MEDIA DESKTOP **************/


@media (min-width: 1025px) and (max-width: 1280px) {

    #mobile-nav {
        display: none;
    }

    #navbar-right {
        display: block;
    }

    #mobile-button {
        display: none;
    }

    #forside-container {
        grid-template-columns: 1fr 1fr;
    }



    footer {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    span {
        padding: 0;
    }

    .footer-last {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;

    }

    .footer-last p {
        font-size: 1.2vw;
    }

    .address p,
    .contact p {
        padding: 0;
        margin: 2vw;

    }

    .footer-column-logo img {
        width: 75%;
    }

    span img {
        width: 5vw;
        align-self: center;
        margin: 2vw;
    }

    .footer-some img {
        width: 4vw;
        height: 4vw;
    }

    .produkter-text {
        grid-column-start: 2;
        grid-row-start: 2;
    }


}
