/****** GENERELLE INSTILLINGER *********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #f2eee6;
}


h1 {
    font-family: 'Viga', sans-serif;
    color: white;
}

h2 {
    font-family: 'Viga', sans-serif;
    color: #F15A25;
}

p {
    font-family: 'Raleway', sans-serif;
}

/*********HEADER**********/

#mobile-button {
    width: 1.5em;
    height: 1em;
    font-size: 2em;
    align-items: center;
    position: fixed;
    right: 6vw;
    top: 3vw;
    color: white;
    z-index: 10001;
    cursor: pointer;
    transition: 0.4s;
    /* Adds a transition effect when the padding is decreased */
}

#mobile-nav {
    display: grid;
    width: 100%;
    height: 200px;
    list-style-type: none;
    position: fixed;
    top: 6vw;
    right: 16vw;
    z-index: 2000;
}



#mobile-nav a {
    float: right;
    color: white;
    text-decoration: none;
    padding: 2vw;
    justify-self: end;
}




/*********HEADER FOR DESKTOP ************/

.hidden {
    transform: scale(0);
}

#navbar {
    overflow: hidden;
    padding: 5px 5px;
    /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s;
    /* Adds a transition effect when the padding is decreased */
    position: fixed;
    /* Sticky/fixed navbar */
    width: 100%;
    top: 0;
    /* At the top */
    z-index: 2000;

}

/* Style the navbar links */
#navbar a {
    float: left;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    align-self: end;

}

/* Style the logo */
#logo img {
    transition: 0.4s;
    width: 100%;
    max-width: 200px;
}

/* Links on mouse-over */
#navbar-right a:hover {
    color: white;
    border-bottom-style: solid;
}

/* Style the active/current link */
#navbar a.active {
    border-bottom-style: solid;
    color: #F15A25;
}

/* Display some links to the right */
#navbar-right {
    display: none;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;

}

#navbar-right a {
    margin-right: 20px;
    font-family: 'Viga', sans-serif;
}



.arrow {
    position: relative;
    top: 40vw;
    text-align: center;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

}


.scroll {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    font-size: 40px
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}



/********** FOOTER ***********/
footer {
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.69);
    margin-top: auto;
    width: 100%;
    margin-top: -100px;
    clear: both;
    align-items: center;
    position: relative;
    bottom: 0;
    clear: both;

}



span {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-self: center;
    padding: 2vw;
}

.footer-column {
    justify-self: center;
}

span img {
    width: 10vw;
    align-self: center;
    margin: 2vw;
}

.footer-column a {
    text-decoration: none;
    color: white;
}

.footer-column p {
    color: white;
}

.footer-some {
    display: grid;

}

.footer-some img {
    width: 8vw;
    height: 8vw;
}

.footer-column-logo img {
    margin-top: 1.5vw;
    width: 50%;

}

.footer-column-logo {
    text-align: center;
}

.footer-last {
    display: inline;
}

.footer-text {
    font-size: 2.2vw;
    color: white;
    text-align: center;
}


/*********** MEDIA TABLET ************/

@media only screen and (min-width: 768px) and (max-width: 1116px) {
    #logo img {

        max-width: 350px;
    }




    footer {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    .footer-some {
        display: grid;
        grid-template-rows: auto auto;
        align-self: flex-end;

    }


    .footer-last {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;

    }

    .address,
    .contact {
        padding: 0;
    }

    .footer-column-logo img {
        width: 75%;
    }

    span img {
        width: 7vw;
        align-self: center;
        margin: 2vw;
    }

}


/************ MEDIA DESKTOP **************/


@media (min-width: 1116px) {

    #logo img {

        max-width: 330px;
    }

    #mobile-nav {
        display: none;
    }

    #navbar-right {
        display: block;
    }

    #mobile-button {
        display: none;
    }


    footer {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    span {
        padding: 0;
    }

    .footer-last {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;

    }

    .footer-last p {
        font-size: 1.2vw;
    }

    .address p,
    .contact p {
        padding: 0;
        margin: 2vw;

    }

    .footer-column-logo img {
        width: 75%;
    }

    span img {
        width: 5vw;
        align-self: center;
        margin: 2vw;
    }

    .footer-some img {
        width: 4vw;
        height: 4vw;
    }

    .arrow {
        top: 10vw;
    }

}





/*Ændringer efter 27/05*/


.forside-container img {
    width: 100%;
    max-width: 800px;
}

.forside-container {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 140px;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Roboto', sans-serif;
}



.openinghours-text {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}

.produkter-text,
.about-text {
    max-width: 1000px;
    margin: 0 auto;
    align-self: center;
}

.openinghours-image img {
    float: right;
}

.products-image img {
    float: left;
}

@media only screen and (min-width: 768px) and (max-width: 1116px) {
             .forside-container {
        grid-template-columns: 1fr 1fr;
    }

     .openinghours-text {
        grid-column-start: 1;
    }

    .openinghours-image {
        grid-column-start: 2;
    }

    .produkter-text {
        grid-column-start: 2;
    }

     .splash-content h1 {
        font-size: 7vw;
    }

    .splash-content p {
        font-size: 2.5vw;
    }

    .splash-content a {
       left: 29vw;
    }
        }

        @media (min-width: 1116px) {
             .forside-container {
        grid-template-columns: 1fr 1fr;
/*
         max-width: 1600px;
         margin-left: 8vw;
        margin-right: 8vw;
*/

    }

    .splash-content h1 {
        font-size: 7vw;
    }

    .splash-content p {
        font-size: 2.5vw;
    }
  .produkter-text {
        grid-column-start: 2;
        grid-row-start: 2;
    }

            .splash-content a {
                top: 13vw;
                left: 31vw;
            }
        }
